list {
    background-image: none;
    background-color: transparent;
}

scrolledwindow {
    background-image: none;
    background-color: transparent;
}

.header-box {
    background-color: #222D32;
    box-shadow: 0 2px 3px 1px alpha(black, 0.47);
    color: white;
}

.arc-theme .header-box {
    background-color: #2F343F;
    box-shadow: none;
    color: white;
}
